@font-face {
    font-family: 'StMarieThin';
    src: url('../fonts/StMarie-Thin-webfont.eot');
    src: url('../fonts/StMarie-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/StMarie-Thin-webfont.woff') format('woff'),
         url('../fonts/StMarie-Thin-webfont.ttf') format('truetype'),
         url('../fonts/StMarie-Thin-webfont.svg#StMarieThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

#wrap {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	font: 40px 'StMarieThin', Arial, sans-serif;
	letter-spacing: 0;
	border-top:1px solid #c4c4c4;
	margin-top:20px;
}

.taeguk {
	height:130px;
	border-bottom:1px solid #c4c4c4;
	position:relative;
}

.taeguk img {
	padding:15px 0px 15px 385px;
}

.taeguk .name {
	position:absolute;
	padding:40px 10px 30px 5px;
}

.taeguk .badges {
	padding-left:10px;
}

.taeguk .badges img {
	padding: 30px 10px 30px 0px;
}

.tab {
	display:inline-block;
	height:100px;
	width:20px;
	margin:0px 0px 15px 0px;
}

#il {
	color:#00bbe0;
}
#il .tab {
	background-color:#00bbe0;
}
#yi {
	color:#ff3594;
}
#yi .tab {
	background-color:#ff3594;
}
#sam {
	color:#ff8400;
}
#sam .tab {
	background-color:#ff8400;
}
#sa {
	color:#5f5f5f;
}
#sa .tab {
	background-color:#5f5f5f;
}
#o {
	color:#6a85db;
}
#o .tab {
	background-color:#6a85db;
}
#yuk {
	color:#1f6284;
}
#yuk .tab {
	background-color:#1f6284;
}
#chil {
	color:#462520;
}
#chil .tab {
	background-color:#462520;
}
#pal {
	color:#79400f;
}
#pal .tab {
	background-color:#79400f;
}